In [78]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
import pandas as pd
latih = pd.read_csv("train.csv")
tes = pd.read_csv("test.csv")
latih

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Time convenient,Ease of booking,Gate location,...,Inflight entertainment,Onboard service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure delay,Arrival delay,Satisfaction
0,Male,Loyal,13,Personal,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,0
1,Male,disLoyal,25,Business,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,0
2,Female,Loyal,26,Business,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,Female,Loyal,25,Business,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,Male,Loyal,61,Business,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disLoyal,23,Business,Eco,192,2,1,2,3,...,2,3,1,4,2,3,2,3,0.0,0
103900,Male,Loyal,49,Business,Business,2347,4,4,4,4,...,5,5,5,5,5,5,4,0,0.0,1
103901,Male,disLoyal,30,Business,Business,1995,1,1,1,3,...,4,3,2,4,5,5,4,7,14.0,0
103902,Female,disLoyal,22,Business,Eco,1000,1,1,1,5,...,1,4,5,1,5,4,1,0,0.0,0
103903,Male,Loyal,27,Business,Business,1723,1,3,3,3,...,1,1,1,4,4,3,1,0,0.0,0

In [79]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
kategori=['Gender','Customer Type', 'Type of Travel', 'Class']
encoding = pd.DataFrame(
    ohe.fit_transform(latih[kategori]).toarray(),
    columns=['Female', 'Male', 'disloyal', 'Loyal', 'Business', 'Personal', 'Business', 'Eco', 'Eco Plus']
)
encoding
fitur = pd.concat([encoding, latih.drop(kategori, axis=1)], axis=1)
#  print(fitur)

x = fitur[fitur.columns[:-1]]
y = fitur[fitur.columns[-1]]
# print(x)
print(y)
# mengganti value
x.fillna(x.mean(), inplace=True)
fitur_terbaik = SelectKBest(score_func=f_classif, k=7)
feat = fitur_terbaik.fit(x, y)


# mendapatkan array
msk = feat.get_support()
print(msk)

nama_fitur = []
for bool, feature in zip(msk, latih.columns):
    if bool:
        nama_fitur.append(feature)
print(nama_fitur)

0         0
1         0
2         1
3         0
4         1
         ..
103899    0
103900    1
103901    0
103902    0
103903    0
Name: Satisfaction, Length: 103904, dtype: int64
[False False False False  True  True  True  True  True  True False False
 False False False False False False  True False False False False False
 False False False False False]
['Class', 'Flight Distance', 'Inflight wifi service', 'Time convenient', 'Ease of booking', 'Gate location', 'Inflight service']

C:\Users\HP\AppData\Local\Temp\ipykernel_11392\310742771.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.fillna(x.mean(), inplace=True)

In [80]:
fiture_data_train = latih[nama_fitur]
target_data_train = latih['Satisfaction']

fiture_data_test = tes[nama_fitur]
target_data_test = tes['Satisfaction']

In [81]:
#mengubah data frame
endcode_train = pd.DataFrame(
    ohe.fit_transform(fiture_data_train[['Class']]).toarray(),
    columns=['Business_Class', 'Eco_Class', 'Eco_Plus_Class'])

endcode_test = pd.DataFrame(ohe.fit_transform(fiture_data_test[['Class']]).toarray(),
    columns=['Business_Class', 'Eco_Class', 'Eco_Plus_Class'])

# menggabungkan data kembali
train_finis = pd.concat([endcode_train, fiture_data_train.drop(['Class'], axis=1)], axis=1)
test_finis = pd.concat([endcode_test, fiture_data_test.drop(['Class'], axis=1)], axis=1)

# mengisi missing value
endcode_train.fillna(fiture_data_train.mean(), inplace=True)
endcode_test.fillna(fiture_data_test.mean(), inplace=True)

print(train_finis)
print(test_finis)

        Business_Class  Eco_Class  Eco_Plus_Class  Flight Distance  \
0                  0.0        0.0             1.0              460
1                  1.0        0.0             0.0              235
2                  1.0        0.0             0.0             1142
3                  1.0        0.0             0.0              562
4                  1.0        0.0             0.0              214
...                ...        ...             ...              ...
103899             0.0        1.0             0.0              192
103900             1.0        0.0             0.0             2347
103901             1.0        0.0             0.0             1995
103902             0.0        1.0             0.0             1000
103903             1.0        0.0             0.0             1723

        Inflight wifi service  Time convenient  Ease of booking  \
0                           3                4                3
1                           3                2                3
2                           2                2                2
3                           2                5                5
4                           3                3                3
...                       ...              ...              ...
103899                      2                1                2
103900                      4                4                4
103901                      1                1                1
103902                      1                1                1
103903                      1                3                3

        Gate location  Inflight service
0                   1                 5
1                   3                 4
2                   2                 4
3                   5                 4
4                   3                 3
...               ...               ...
103899              3                 3
103900              4                 5
103901              3                 5
103902              5                 4
103903              3                 3

[103904 rows x 9 columns]
       Business_Class  Eco_Class  Eco_Plus_Class  Flight Distance  \
0                 0.0        1.0             0.0              160
1                 1.0        0.0             0.0             2863
2                 0.0        1.0             0.0              192
3                 1.0        0.0             0.0             3377
4                 0.0        1.0             0.0             1182
...               ...        ...             ...              ...
25971             1.0        0.0             0.0              526
25972             1.0        0.0             0.0              646
25973             0.0        1.0             0.0              828
25974             1.0        0.0             0.0             1127
25975             0.0        1.0             0.0              264

       Inflight wifi service  Time convenient  Ease of booking  Gate location  \
0                          5                4                3              4
1                          1                1                3              1
2                          2                0                2              4
3                          0                0                0              2
4                          2                3                4              3
...                      ...              ...              ...            ...
25971                      3                3                3              1
25972                      4                4                4              4
25973                      2                5                1              5
25974                      3                3                3              3
25975                      2                5                2              5

       Inflight service
0                     5
1                     4
2                     2
3                     1
4                     2
...                 ...
25971                 5
25972                 5
25973                 4
25974                 5
25975                 1

[25976 rows x 9 columns]

C:\Users\HP\AppData\Local\Temp\ipykernel_11392\3307290217.py:14: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  endcode_train.fillna(fiture_data_train.mean(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_11392\3307290217.py:15: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  endcode_test.fillna(fiture_data_test.mean(), inplace=True)

In [75]:
# Mencari akurasi tertinggi nilai K dengan metode KNN
from sklearn.neighbors import KNeighborsClassifier

# Menyimpan data feature dan datarget variabele
fitur_test = test_finis
target_test = target_data_test
fitur_train = train_finis
target_train = target_data_train

for i in [3, 5, 7, 9, 11]:
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(fitur_train, target_train)
    akurasi = knn.score(fitur_test, target_test)
    print(f'Acurasi KNN dengan k:{i}= {akurasi}')

Acurasi KNN dengan k:3= 0.8254542654758238
Acurasi KNN dengan k:5= 0.8205266399753619
Acurasi KNN dengan k:7= 0.8174083769633508
Acurasi KNN dengan k:9= 0.8127887280566677
Acurasi KNN dengan k:11= 0.8096319679704342